# Node.js specific
node_modules
npm-debug.log
yarn-error.log
*.log

# Git
.git
.gitignore

# Environment files (commented it because they app needs NEXT_PUBLIC_API_KEY at build time, if uncommented, then applicatoin will show INVALID_API_KEY error in browser console when you enter the prompt to gemini clone)
#.env
#.env.local
#.env.development
#.env.test
#.env.production

# Build output and caches
.next
dist
build
*.cache

# Tests and test-related files
tests
__tests__
*.test.js
*.spec.js
coverage

# Documentation
*.md
README.md
LICENSE

# Editor and IDE files
.vscode
.idea
*.swp
*.swo

# Miscellaneous
Dockerfile
docker-compose.yml
*.bak
*.tmp